body, html{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    background-color: rgb(203, 203, 255);
}
section{
    background-color: white;
    padding: 0px;
}
section#ultra{
    background-image: url(../Imagens/Ultraseven.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center right;
}
img{
    width: 70%;
}
section#meme{
    background-color: rgb(203, 203, 255);
    text-align: center;
}
section#ultra > p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 3px;
    font-size: 2.3em;
    color: rgb(244, 244, 0);
    text-shadow: 0 0 5px #fff,
         0 0 10px #fff, 
         0 0 20px rgba(255, 255, 0, 0.743), 
         0 0 30px rgba(255, 255, 0, 0.743), 
         0 0 40px rgba(255, 255, 0, 0.743), 
         0 0 55px rgba(255, 255, 0, 0.743), 
         0 0 70px rgba(255, 255, 0, 0.743);
}